table,tr,td
table{
width: 50%;height: 100%;background-color: black;

}
tr{
    height: 70px;width: 50px;background-color: white;
}

.td1{background-color: red;}
.td2{background-color: yellow;;}
.td3{background-color:black;}
.td4{background-color: yellow;}
.td5{background-color:black;}
.td6{background-color: yellow;}
.td7{background-color:black ;}
.td8{background-color:yellow;}
.td9{background-color: black;}
.td10 {background-color: yellow;}

.td11 {background-color: yellow;}
.td12{background-color: red;}
.td13 {background-color:yellow;}
.td14 {background-color: black;}
.td15{background-color: yellow;}
.td16{background-color: black;}
.td17{ background-color: yellow;}
.td18{ background-color: black;}
.td19{background-color:yellow ;}
.td20{background-color: black;}

.td21{background-color: black}
.td22{background-color: yellow;}
.td23 {background-color:red ;}
.td24{background-color: yellow;}
.td25{background-color: yellow;}
.td26{background-color: black;}
.td27{ background-color: yellow;}
.td28{ background-color: black;}
.td29{ background-color: yellow;}
.t30{ background-color:black ;}

.td31{background-color:black;}
.td32 {background-color:yellow ;}
.td33 {background-color: black;}
.td34{background-color: red;}
.td35{background-color: yellow;}
.td36{background-color:black;}
.td37{background-color: yellow;}
.td38 {background-color:black;}
.td39 { background-color: yellow;}
.td40{background-color:black;}

.td41{ background-color: black;}
.td42{ background-color:yellow ;}
.td43{background-color: black;}
.td44{background-color: yellow;}
.td45{background-color: red;}
.td46{background-color:black;}
.td47{background-color:yellow ;}
.td48{background-color: black;}
.td49{background-color: yellow;}
.td50{background-color: black;}



.td51 {background-color: yellow ;}
.td52{background-color: yellow;}
.td53{background-color:black ;}
.td54{background-color: yellow;}
.td55{background-color: black;}
.td56 {background-color:red;}
.td57{background-color:black ;}
.td58{background-color:yellow ;}
.td59{background-color:black;}
.td60 {background-color:yellow ;}

.td61{background-color: yellow;}
.td62{background-color: black;}
.td63{background-color: yellow;}
.td64{background-color: black;}
.td65{background-color:yellow ;}
.td66{background-color: black;}
.td67{background-color: red;}
.td68{background-color: yellow;}
.td69{background-color: black;}
.td70{background-color:yellow ;}

.td71{background-color:black ;}
.td72{background-color: yellow;}
.td73{background-color:black ;}
.td74{background-color: yellow;}
.td75{background-color:black ;}
.td76{background-color: yellow;}
.td77{background-color:black ;}
.td78{background-color:red ;}
.td79{background-color:yellow ;}
.td80{background-color:black ;}

.td81{background-color: yellow;}
.td82{background-color:black ;}
.td83{background-color: yellow;}
.td84{background-color:black ;}
.td85{background-color: yellow;}
.td86{background-color:black ;}
.td87{background-color:yellow ;}
.td88{background-color:black ;}
.td89{background-color: red;}
.td90{background-color: yellow;}

.td91{background-color:black ;}
.td92{background-color: yellow;}
.td93{background-color:black ;}
.td94{background-color: yellow;}
.td95{background-color:black ;}
.td96{background-color:yellow ;}
.td97{background-color:black ;}
.td98{background-color: yellow;}
.td99{background-color:black ;}
.td100{background-color:red ;}












